<!doctype html>
<html lang="en">

<head>
    <title>Home</title>
    <div th:replace="common/head::head"></div>
</head>

<body>
<!-- 主盒子 -->
<div id="wrapper">

    <!-- 上方导航栏 -->
    <nav th:replace="common/nav::nav"></nav>
    <!-- 上方导航栏结束 -->

    <!-- 左侧栏 -->
    <div th:replace="common/left::left"></div>
    <!-- 左侧栏结束 -->


    <!-- 主页面部分 -->
    <div class="main">

        <!-- 内容区盒子1：添加信息 -->
        <div class="main-content">
            <!-- 表格区盒子 -->
            <div class="panel">
                <!-- 表格头部 -->
                <div class="panel-heading">
                    <!-- 表格标题 -->
                    <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                    </div>
                </div>

                <!-- 表单主体 -->
                <div class="panel-body no-padding">
                    <!-- 添加信息 -->
                    <div class="auth-box">
                        <div class="content">
                            <div class="header">
                                <p class="lead">用户修改角色</p>
                            </div>
                            <form class="form-auth-small" id="updateUser" th:action="@{/user/updateUserAndRole}">
                                <span th:text="${error}" style="color: red;"></span>
                                <input type="hidden" class="form-control" name="userId"
                                       th:value="${user.getUserId()}" readonly="readonly">
                                <input type="hidden" class="form-control" name="userPassword"
                                       th:value="${user.getUserPassword()}" readonly="readonly">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input type="text" class="form-control" name="userAccount"
                                           th:value="${user.getUserAccount()}" readonly="readonly">
                                </div>
                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input type="text" class="form-control" name="userName"
                                           th:value="${user.getUserName()}" readonly="readonly">
                                </div>
                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
                                    <select class="form-control" id="actorId" name="actorId">
                                        <option th:value="-1">==请选择角色==</option>
                                        <option th:each="actor : ${actors}"
                                                th:text="${actor.getActorName()}"
                                                th:value="${actor.getActorId()}"
                                                th:selected="${actor.getActorId()==user.getActorId()}">
                                        </option>
                                    </select>
                                </div>
                                <br/>

                                <button type="button" class="btn btn-primary btn-lg btn-block"
                                        onclick="validateActorId()">更改角色
                                </button>

                                <script>
                                    function validateActorId() {
                                        let actorId = document.getElementById("actorId").value;
                                        if (actorId < 0) {
                                            alert("您还未选择用户角色！");
                                        } else {
                                            document.getElementById("updateUser").submit();
                                        }
                                    }
                                </script>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- 内容区盒子1：添加信息结束 -->


    </div>
    <!-- 主页面部分结束 -->
</div>
<!-- 主盒子结束 -->


<!-- Javascript -->
<div th:replace="common/foot::foot"></div>
</body>
</html>
