<!doctype html>
<html lang="en">

<head>
    <title>Home</title>
    <div th:replace="common/head::head"></div>
</head>

<body>
<!-- 主盒子 -->
<div id="wrapper">

    <!-- 上方导航栏 -->
    <nav th:replace="common/nav::nav"></nav>
    <!-- 上方导航栏结束 -->

    <!-- 左侧栏 -->
    <div th:replace="common/left::left"></div>
    <!-- 左侧栏结束 -->


    <!-- 主页面部分 -->
    <div class="main">

        <!-- 内容区盒子1：添加信息 -->
        <div class="main-content">
            <!-- 表格区盒子 -->
            <div class="panel">
                <!-- 表格头部 -->
                <div class="panel-heading">
                    <!-- 表格标题 -->
                    <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                    </div>
                </div>

                <!-- 表单主体 -->
                <div class="panel-body no-padding">
                    <!-- 添加信息 -->
                    <div class="auth-box" style="height: 700px">
                        <div class="content">
                            <div class="header">
                                <p class="lead">角色数据编辑</p>
                            </div>
                            <form class="form-auth-small" th:action="@{/actor/updateActor}">
                                <input type="hidden" class="form-control" name="actorId"
                                       th:value="${actor.getActorId()}">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input type="text" class="form-control" name="actorName"
                                           th:value="${actor.getActorName()}" placeholder="请输入角色名称...">
                                </div>
                                <br>

                                <div class="input-group">
                                    <span class="input-group-addon"><i
                                            class="glyphicon glyphicon-star-empty"></i></span>
                                    <input type="text" class="form-control" name="actorDescribe"
                                           th:value="${actor.getActorDescribe()}" placeholder="请输入角色描述...">
                                </div>
                                <br>

                                <button type="submit" class="btn btn-primary btn-lg btn-block">修改</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- 内容区盒子1：添加信息结束 -->


    </div>
    <!-- 主页面部分结束 -->
</div>
<!-- 主盒子结束 -->


<!-- Javascript -->
<div th:replace="common/foot::foot"></div>
</body>
</html>
